<aside class="qw-sidebar">
	<div class="logo">
        <img class="qw-logo-admin" src="{{ asset('build/images/admin/logo-qwickit.png') }}" alt="Logo">
    </div>

	<ul class="menu-list">
		<li>
			<a class="sub-title" href="{{ path('homepage') }}">
				<span class="icon">
	                <i class="fas fa-tachometer-alt"></i>
	            </span>
	            <span>Tableau de bord</span>
	        </a>
		</li>
		<li>
			<a class="sub-title" href="{{ path('client_index') }}">
				<span class="icon">
                    <i class="fas fa-user-friends"></i>
                </span>
                <span>Clients</span>
			</a>
		</li>
		<li>
			<a class="sub-title" href="{{ path('contrat_index') }}">
				<span class="icon">
                    <i class="fas fa-file-alt"></i>
                </span>
                <span>Contrats</span>
                {#<span class="icon">
                    <i class="fa fa-angle-down"></i>
                </span> #}
			</a>

			{# <ul class="menu-list">
	            <li>
	                <ul class="qw-is-close">
	                    <li>
	                        <a href="{{ path('type_site_index') }}">
	                            <span>Types de site</span>
	                        </a>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <ul class="qw-is-close">
	                    <li>
	                        <a href="{{ path('type_abonnement_index') }}">
	                            <span>Types d'abonnement</span>
	                        </a>
	                    </li>
	                </ul>
	            </li>
	        </ul>#}
		</li>
    </ul>

    <div class="footer">
    	<p class="logout">
            <a href="{{ path('logout') }}" class="logout"><i class="fas fa-sign-out-alt"></i><span class="hidden"> Déconnexion</span></a>
        </p>
        
        <div class="copyright">
            <p>© {{ "now"|date("Y") }} Création <a href="https://www.qwickit.fr/" target="_blank" class="qwickit">Qwickit</a></p>
        </div>
    </div>
</aside>