{% extends 'base.html.twig' %}

{% block title %}Types d'abonnement{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            
            <h1 class="title has-text-centered">Types d'abonnement</h1>
            

            <div class="btn-group align-left">
                <a href="{{ path('contrat_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

                <div class="absolute absolute-right">
                    <a class="button qw-button" href="{{ path('type_abonnement_new') }}">Ajouter un type de site</a>
                </div>
            </div>
            
            <ul>
                {% for type_abonnement in type_abonnements %}
                    <li class="page-item">
                        <div class="columns is-vcentered is-multiline">
                            <div class="column is-5">
                                <p class="title has-text-left">
                                    <a href="{{ path('type_abonnement_show', {'id': type_abonnement.id}) }}">{{ type_abonnement.nom }}</a>
                                </p>
                            </div>
                            <div class="column is-5">
                                <strong>Nombre :</strong>
                                {% for abo in nb_abonnement  %}
                                    {% if abo.id == type_abonnement.id %}
                                        {{ abo.nombre }}
                                    {% endif %}
                                {% endfor %}
                            </div>


                            <div class="column is-2 has-text-right">
                                <a href="{{ path('type_abonnement_edit', {'id': type_abonnement.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p>Aucun type de site.</p>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
