{% extends 'base.html.twig' %}

{% block title %}Nouveau type d'abonnement{% endblock %}

{% block body %}
	<section class="section">
        <div class="container">
        	<h1 class="title has-text-centered">Nouveau type d'abonnement</h1>
			
			<div class="btn-group align-left">
				<a href="{{ path('type_abonnement_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>
			</div>

            {{ include('admin/type_abonnement/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
