<form method="post" action="{{ path('type_site_delete', {'id': type_site.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_site.id) }}">
    <button class="button qw-remove">
        <span class="icon">
            <i class="fas fa-trash"></i>
        </span>
    </button>
</form>
