{{ form_start(form) }}
	<div class="box">
	    <div class="field">
	        <label class="label" for="nom">Intitulé</label>
	        <div class="control">
	            {{ form_widget(form.nom, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	</div>

	<div class="btn-group align-center">
	    {{ form_widget(form.submit, { 'attr': {'class': 'qw-button button'}, 'label': 'Enregistrer'}) }}
	</div>
{{ form_end(form) }}