{% extends 'base.html.twig' %}

{% block title %}Edit TypeSite{% endblock %}

{% block body %}

	 <section class="section">
        <div class="container">
        	<h1 class="title has-text-centered">Modifier le type de site</h1>
			
			<div class="btn-group align-left">
				<a href="{{ path('type_site_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

				<div class="absolute absolute-right">
	            	{{ include('admin/type_site/_delete_form.html.twig') }}
				</div>
			</div>

            {{ include('admin/type_site/_form.html.twig') }}

        </div>
    </section>
{% endblock %}
