{% extends 'base.html.twig' %}

{% block title %}Type de sites{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            
            <h1 class="title has-text-centered">Types de site</h1>
            

            <div class="btn-group align-left">
                <a href="{{ path('contrat_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

                <div class="absolute absolute-right">
                    <a class="button qw-button" href="{{ path('type_site_new') }}">Ajouter un type de site</a>
                </div>
            </div>
            
            <ul>
                {% for type_site in type_sites %}
                    <li class="page-item">
                        <div class="columns is-vcentered is-multiline">
                            <div class="column is-5">
                                <p class="title has-text-left">
                                    <a href="{{ path('type_site_show', {'id': type_site.id}) }}">{{ type_site.nom }}</a>
                                </p>
                            </div>
                            <div class="column is-5">
                                <strong>Nombre :</strong>
                                {% for site in nb_sites  %}
                                    {% if site.id == type_site.id %}
                                        {{ site.nombre }}
                                    {% endif %}
                                {% endfor %}
                            </div>


                            <div class="column is-2 has-text-right">
                                <a href="{{ path('type_site_edit', {'id': type_site.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p>Aucun type de site.</p>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
