{% extends 'base.html.twig' %}

{% block title %}Types de site{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ type_site.nom }}</h1>

            <div class="btn-group align-left">
                <a href="{{ path('type_site_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

                <div class="absolute absolute-right">
                    <a href="{{ path('type_site_edit', {'id': type_site.id}) }}" class="button qw-button">Modifier</a>
                </div>
            </div>
        
            
            <div class="box">
                <ul class="infos-detail">
                    <li>
                        <strong>Nom</strong>
                        <p>{{ type_site.nom }}</p>
                    </li>
                </ul>
                {{ include('admin/type_site/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
    
{% endblock %}

