@import "../../node_modules/bulma";
@import "mixins.scss";

$primary: #bb0915;

html{
	background-color: #f9f9f9;
	font-size: 15px;
}

a, button{
	@include transition(0.4s);
}

h1.title{
	margin-top: 3rem;
}

.back-link{
	display: block;
	color: #8c8989;
	font-size: 0.9rem;
}
.container{
	width: 90%;
}

.section{
	padding: 1rem 1.5rem;
}

.btn-group{
	position: relative;
	display: block;
	margin: 1.5rem auto;
	.absolute{
		position: absolute;
		top: -4px;
		right: 0;
		left: 0;
		&.absolute-right{
			left: auto;
			text-align: right;
		}
	}
	&.align-left{
		text-align: left;
	}
	&.align-center{
		text-align: center;
	}
	&.align-right{
		text-align: right;
	}
}

.box{
	padding: 4rem 3.5rem;
    border: none;
    @include borderRadius(4px);
    @include boxShadow(0px 5px 15px #e4e2e2);
}

@import "admin/header.scss";
@import "admin/sidebar.scss";
@import "admin/dashboard.scss";
@import "admin/pages.scss";
@import "admin/form.scss";