@mixin padding($top:0.5rem, $right:0.75rem, $bottom:0.5rem, $left:0.75rem) {
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}
//Example
//@include padding(top, right, bottom, left);

@mixin margin($top:0.5rem, $right:auto, $bottom:0.5rem, $left:auto) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}

//@include typo(color, fontFamily, fontSize, textAlign, textTransform)
@mixin typo($color, $fontFamily, $fontSize, $textAlign, $textTransform) {
	color: $color;
	font-family: $fontFamily;
	font-size: $fontSize;
	text-align: $textAlign;
	text-transform: $textTransform;
}

//convert px to rem
@function parseInt($n) {
	/* 2 */
	@return $n / ($n * 0 + 1);
  }
  
  @mixin rem($property, $values) {
	$px: (); /* 3 */
	$rem: (); /* 3 */
  
	@each $value in $values {
	  /* 4 */
  
	  @if $value == 0 or $value == auto {
		/* 5 */
		$px: append($px, $value);
		$rem: append($rem, $value);
	  } @else {
		$unit: unit($value); /* 6 */
		$val: parseInt($value); /* 6 */
  
		@if $unit == 'px' {
		  /* 7 */
		  $px: append($px, $value);
		  $rem: append($rem, ($val / 10 + rem));
		}
  
		@if $unit == 'rem' {
		  /* 7 */
		  $px: append($px, ($val * 10 + px));
		  $rem: append($rem, $value);
		}
	  }
	}
  
	@if $px == $rem {
	  /* 8 */
	  #{$property}: $px; /* 9 */
	} @else {
	  #{$property}: $px; /* 9 */
	  #{$property}: $rem; /* 9 */
	}
  }


// Cross nav

@mixin boxShadow($property:0 0 5px 0 rgba(0, 0, 0, 0.2)) {
//@mixin boxShadow($property:0px 0px 15px 0px rgba(0,0,0,0.75)) {
	-webkit-box-shadow: $property;
	-moz-box-shadow: $property;
	-ms-box-shadow: $property;
	-o-box-shadow: $property;
	box-shadow: $property;
}
@mixin borderRadius($property: 5px) {
	-webkit-border-radius: $property;
	-moz-border-radius: $property;
	-ms-border-radius: $property;
	-o-border-radius: $property;
	border-radius: $property;
}

@mixin transform($property) {
	-webkit-transform: $property;
	-moz-transform: $property;
	-ms-transform: $property;
	-o-transform: $property;
	transform: $property;

	@include transition();
}

// Example
// .box { @include transform(rotate(30deg)); }

@mixin transition($property:0.3s) {
	-webkit-transition: $property;
	-moz-transition: $property;
	-ms-transition: $property;
	-o-transition: $property;
	transition: $property;
}

@mixin appearance($property: none) {
	-webkit-appearance: $property;
	-moz-appearance: $property;
	-ms-appearance: $property;
	-o-appearance: $property;
	appearance: $property;
}

@mixin fontface($file, $style-name) {
    $filepath: "../fonts/" + $file;
    
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        	 url($filepath + ".woff") format('woff'),
        	 url($filepath + ".woff2") format("woff2"),
        	 url($filepath + ".ttf")  format('truetype'),
        	 url($filepath + ".svg#" + $style-name + "") format('svg');
    }
}

@mixin placeholder($fontFamily, $fontSize, $default-color, $focus-color) {
    &::-webkit-input-placeholder { color: $default-color; font-family: $fontFamily; font-size: $fontSize; }
	&::-moz-placeholder { color: $default-color; font-family: $fontFamily; font-size: $fontSize; }
	&:-ms-input-placeholder { color: $default-color; font-family: $fontFamily; font-size: $fontSize; }
	&:-moz-placeholder { color: $default-color; font-family: $fontFamily; font-size: $fontSize; }

    &:focus::-webkit-input-placeholder { color: $focus-color; }
	&:focus::-moz-placeholder { color: $focus-color; }
	&:focus:-ms-input-placeholder { color: $focus-color; }
	&:focus:-moz-placeholder { color: $focus-color; }
}