{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Dashboard</h1>

			<div class="box">
	            <p>Recherche</p>
				<p>Prochaines expirations de contrats</p>
				<p>...</p>
			</div>
        </div>
    </section>
{% endblock %}
