{{ form_start(form) }}

	<div class="box">
	    <div class="field">
	        <label class="label" for="entreprise">Entreprise</label>
	        <div class="control">
	            {{ form_widget(form.entreprise, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="nom">Nom de l'interlocuteur</label>
	        <div class="control">
	            {{ form_widget(form.nom, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="adresse">Adresse</label>
	        <div class="control">
	            {{ form_widget(form.adresse, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="code_postal">Code postal</label>
	        <div class="control">
	            {{ form_widget(form.code_postal, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="ville">Ville</label>
	        <div class="control">
	            {{ form_widget(form.ville, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field col-6">
	        <label class="label" for="email">Email 1</label>
	        <div class="control">
	            {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field col-6 right">
	        <label class="label" for="email2">Email 2</label>
	        <div class="control">
	            {{ form_widget(form.email2, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field col-6">
	        <label class="label" for="telephone">Téléphone</label>
	        <div class="control">
	            {{ form_widget(form.telephone, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field col-6 right">
	        <label class="label" for="telephone2">Téléphone 2</label>
	        <div class="control">
	            {{ form_widget(form.telephone2, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="site_url">URL du site</label>
	        <div class="control">
	            {{ form_widget(form.site_url, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	</div>

	<div class="btn-group align-center">
	    {{ form_widget(form.submit, { 'attr': {'class': 'qw-button button'}, 'label': 'Enregistrer'}) }}
	</div>

{{ form_end(form) }}

