{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}    
	 <section class="section">
        <div class="container">
        	<h1 class="title has-text-centered">Modifier le client</h1>
			
			<div class="btn-group align-left">
				<a href="{{ path('client_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

				<div class="absolute absolute-right">
	            	{{ include('admin/client/_delete_form.html.twig') }}
				</div>
			</div>

            {{ include('admin/client/_form.html.twig') }}

        </div>
    </section>

{% endblock %}