{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            
            <h1 class="title has-text-centered">Gestion des clients</h1>
            
            <div class="btn-group align-right">
                <a class="button qw-button" href="{{ path('client_new') }}">Ajouter un client</a>
            </div>
            
            <ul>
                {% for client in clients %}
                    <li class="page-item">
                        <div class="columns is-vcentered is-multiline">
                            <div class="column is-5">
                                <p class="title has-text-left">
                                    <a href="{{ path('client_show', {'id': client.id}) }}">{{ client.entreprise }}</a>
                                </p>
                            </div>

                            <div class="column is-5">
                                {% if client.siteUrl is defined and client.siteUrl != "" %}
                                    <p class="site">
                                        <a href="{{ client.siteUrl }}" target="_blank">{{ client.siteUrl }}</a>
                                    </p>
                                {% endif %}
                            </div>

                            <div class="column is-2 has-text-right">
                                <a href="{{ path('client_edit', {'id': client.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p>Aucun client.</p>
                {% endfor %}
            </ul>

        </div>
    </section>
{% endblock %}
