{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">{{ client.entreprise }}</h1>
            
            <div class="btn-group align-left">
                <a href="{{ path('client_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

                <div class="absolute absolute-right">
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="button qw-button">Modifier</a>
                </div>
            </div>
            
            <div class="box">
                <ul class="infos-detail">
                    <li>
                        <strong>Entreprise</strong>
                        <p>{{ client.entreprise }}</p>
                    </li>
                    <li>
                        <strong>Nom</strong>
                        <p>{{ client.nom }}</p>
                    </li>
                    <li>
                        <strong>Adresse</strong>
                        <p>{{ client.adresse }} <br>
                        {{ client.codePostal }} {{ client.ville }}</p>
                    </li>

                    {% if client.email is defined and client.email != '' %}
                        <li>
                            <strong>Email</strong>
                            <a href="mailto:{{ client.email }}">{{ client.email }}</a>
                        </li>
                    {% endif %}

                    {% if client.email2 is defined and client.email2 != '' %}
                        <li>
                            <strong>Email2</strong>
                            <a href="mailto:{{ client.email2 }}">{{ client.email2 }}</a>
                        </li>
                    {% endif %}

                    {% if client.telephone is defined and client.telephone != '' %}
                        <li>
                            <strong>Telephone</strong>
                            <p>{{ client.telephone }}</p>
                        </li>
                    {% endif %}

                    {% if client.telephone2 is defined and client.telephone2 != '' %}
                        <li>
                            <strong>Telephone2</strong>
                            <p>{{ client.telephone2 }}</p>
                        </li>
                    {% endif %}

                    {% if client.siteUrl is defined and client.siteUrl != '' %}
                        <li>
                            <strong>Site url :</strong>
                            <a href="{{ client.siteUrl }}" target="_blank">{{ client.siteUrl }}</a>
                        </li>
                    {% endif %}
                </ul>

                <p class="title">Contrats associés</p>

                {% for contrat in contrats %}
                    <a href="{{ path('contrat_show', {'id': contrat.id }) }}">Voir le contrat {{ contrat.type_abonnement }}</a>
                {% endfor %}
            </div>

            {{ include('admin/client/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}