<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% if app.environment == 'dev' %}<meta name="robots" content="noindex, nofollow">{% endif %}
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favico.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favico.png') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        {# FLASH MESSAGES #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message | trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="columns is-marginless">
            <div class="column is-3 qw-sidebar-container">
                {% include 'admin/global/sidebar.html.twig' %}
            </div>

            <div class="column is-9">
                {# {% include 'admin/global/header.html.twig' %} #}
                
                {% block body %}{% endblock %}
            </div>
        </div>
        
        {{ encore_entry_script_tags('app') }} 
    </body>
</html>
