{{ form_start(form) }}

	<div class="box">
	    <div class="field">
	        <label class="label" for="client">Client</label>
	        <div class="control select">
	            {{ form_widget(form.client, { 'attr': {'class': 'select'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="typeSite">Type de site</label>
	        <div class="control select">
	            {{ form_widget(form.typeSite, { 'attr': {'class': 'select'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="prix">Prix (one shot)</label>
	        <div class="control">
	            {{ form_widget(form.prix, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="prix_abonnement">Prix de l'abonnement</label>
	        <div class="control">
	            {{ form_widget(form.prix_abonnement, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="typeAbonnement">Type d'abonnement</label>
	        <div class="control select">
	            {{ form_widget(form.typeAbonnement, { 'attr': {'class': 'select'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="duree_engagement">Durée de l'engagement</label>
	        <div class="control">
	            {{ form_widget(form.duree_engagement, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="date_creation">Date de création</label>
	        <div class="control">
	            {{ form_widget(form.date_creation, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="date_expiration">Date d'expiration</label>
	        <div class="control">
	            {{ form_widget(form.date_expiration, { 'attr': {'class': 'input'} }) }}
	        </div>
	    </div>
	    <div class="field">
	        <label class="label" for="commentaires">Commentaires</label>
	        <div class="control">
	            {{ form_widget(form.commentaires, { 'attr': {'class': 'textarea'} }) }}
	        </div>
	    </div>
	</div>

	<div class="btn-group align-center">
	    {{ form_widget(form.submit, { 'attr': {'class': 'qw-button button'}, 'label': 'Enregistrer'}) }}
	</div>

{{ form_end(form) }}

