{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            
            <h1 class="title has-text-centered">Gestion des contrats</h1>
            
            <div class="btn-group align-left">
                <ul class="manage">
                    <li>
                        <a class="sub-title" href="{{ path('type_site_index') }}">
                            <span class="icon">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span>Gérer les types de site</span>
                        </a>
                    </li>
                    <li>
                        <a class="sub-title" href="{{ path('type_abonnement_index') }}">
                            <span class="icon">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span>Gérer les types d'abonnement</span>
                        </a>
                    </li>
                </ul>

                <div class="absolute absolute-right">
                    <a class="button qw-button" href="{{ path('contrat_new') }}">Ajouter un contrat</a>
                </div>
            </div>

            
            <ul>
                {% for contrat in contrats %}

                    <li class="page-item">
                        <div class="columns is-vcentered">
                            <div class="column">
                                <p class="title">
                                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">{{ contrat.client }}</a>
                                </p>
                            </div>
                            <div class="column">
                                <p class="type_abonnement">
                                    <strong>Abonnement</strong>
                                    {{ contrat.type_abonnement }}
                                </p>
                            </div>
                            <div class="column">
                                <p class="prix_abonnement">
                                    {{ contrat.prix_abonnement }}
                                </p>
                            </div>
                            <div class="column">
                                <p class="date_expiration">
                                    <strong>Expiration</strong>
                                    {{ contrat.date_expiration|date('m-d-Y') }}
                                </p>
                            </div>

                            <div class="column is-1 has-text-right">
                                <a href="{{ path('contrat_edit', {'id': contrat.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p>Aucun contrat.</p>
                {% endfor %}
            </ul>

        </div>
    </section>

{% endblock %}
