{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Contrat</h1>

            <div class="btn-group align-left">
                <a href="{{ path('contrat_index') }}" class="back-link"><i class="fas fa-angle-left"></i> Retour</a>

                <div class="absolute absolute-right">
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}" class="button qw-button">Modifier</a>
                </div>
            </div>
            
            
            <div class="box">
                <ul class="infos-detail">
                    <li>
                        <strong>Client</strong>
                        <p>{{ client.entreprise }}</p>
                    </li>
                    
                    <li>
                        <strong>Type de site</strong>
                        <p>{{ typeSite.nom }}</p>
                    </li>
                    <li>
                        <strong>Prix</strong>
                        <p>{{ contrat.prix }}</p>
                    </li>
                    <li>
                        <strong>Prix abonnement</strong>
                        <p>{{ contrat.prixAbonnement }}</p>
                    </li>
                    <li>
                        <strong>Type d'abonnement</strong>
                        <p>{{ abonnement.nom }}</p>
                    </li>
                    <li>
                        <strong>Durée de l'engagement</strong>
                        <p>{{ contrat.dureeEngagement }}</p>
                    </li>
                    <li>
                        <strong>Date de création</strong>
                        <p>{{ contrat.dateCreation|date('d-m-Y') }}</p>
                    </li>
                    <li>
                        <strong>Date d'expiration</strong>
                        <p>{{ contrat.dateExpiration|date('d-m-Y') }}</p>
                    </li>
                    <li>
                        <strong>Commentaires</strong>
                        <p>{{ contrat.commentaires }}</p>
                    </li>
                </ul>
                
                {{ include('admin/contrat/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}