form{
    .box{
      h2{
        margin: 2rem auto 1rem;
        &:first-child{
          margin: 0 auto 1rem;
        }
      }
    }
    .field{
      margin-bottom: 1.5rem !important;
      &.col-6{
        width: 47%;
        margin-right: 5%;
        display: inline-block;
        &.right{
          margin-right: 0;
        }
      }
    }
}

.input, .textarea{
    width: 100%;
    max-width: 100%;
	  border-color: #dbdbdb;
    background-color: white;
    color: #363636;
    @include boxShadow(none);
    @include borderRadius(0);
}

.input[type="file"]{
  border: none;
}

.textarea{
  min-height: 6rem;
}

.required-field{
	font-size: 0.75rem;
}

.qw-button{
	min-width: 6rem;
  padding: 0rem 1.5rem;
	border: none;
  background: $primary;
  color: #FFF;
	@include borderRadius(2px); 
	&:hover{
		color: #FFF;
		@include boxShadow(0px 3px 10px 3px #b5b2b2);
	}
}