.qw-admin-header {
    margin: 0.5rem 0.5rem 3rem 0.5rem;
    padding: 0.15rem 1rem;
    background-color: #FFF;
    @include boxShadow(0 0 15px 5px rgba(0, 0, 0, 0.1));
    @include borderRadius(25px);

    p, a{
		color: $primary;
    	font-size: 0.8rem;
    }

    .username{
    	margin-right: 1.75rem;
    }
}