.page-item{
	margin: 2.5rem auto;
    padding: 1.75rem 2rem;
    background-color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    @include borderRadius(4px);
    @include boxShadow(0px 5px 15px #e4e2e2);
    p{
    	text-align: center;
    	&.title{
    		font-size: 1.5rem;
    	}
    	strong{
    		display: block;
    	}
    }
    p, a{
    	color: #000;
    	i {
		    margin: -3px 0.2rem 0;
		    display: inline-block;
		    vertical-align: middle;
		    font-size: 0.8rem;
		    opacity: 0.65;
	    }
	}
	a:hover{
		opacity: 0.5;
	}

	.img-article{
		max-width: 6rem;
		max-height: 5rem;
	}

	.text{
		margin-bottom: 2rem;
		p{
			color: #4a4a4a;
			text-align: left;
		}
	}
}

.qw-remove{
	border: none;
	background: inherit;
	i{
		font-size: 1rem;
		color: #ff3860;
		opacity: 1;
	}
	&:hover{
		opacity: 0.7;
	}
}

.infos-detail{
	li{
		margin: 2rem 0;
		strong, a{
			display: block;
		}
	}
}

.manage{
	a{
		color: #000;
		opacity: 0.6;
		&:hover{
			color: #000;
			opacity: 1;
		}
	}
}