.qw-sidebar-container{
	position: relative;
	.qw-sidebar{
		position: fixed;
		top: 8px;
		left: 8px;
		bottom: 8px;
		width: 25%;
		background-color: $primary;
		@include borderRadius(25px);
		@include boxShadow(0 0 10px 10px rgba(0, 0, 0, 0.2));
		p, li, a, span, i{
			color: #FFF;
		}
		
		.menu-list{
			padding: 2rem 1rem;
			a:hover{
				background-color: darken( $primary, 3% );
				color: #FFF;
			}
		}

		.logo{
			max-width: 5rem;
			max-height: 5rem;
			margin: 2rem auto;
		}
		.footer{
			position: absolute;
			bottom: 1.5rem;
			left: 0;
			right: 0;
			padding: 0;
			background-color: inherit;
			text-align: center;
			font-size: 11px;
			.logout{
				margin-bottom: 1rem;
			}
		}
	}
}